@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* 1rem = 10px */
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
  }

p{
    font-size: 12px;
}

h1{
    font-size: 3.3rem;
}

.info{
    font-size: 14px;
}

.attribution{
    font-size: 1.4rem;
    text-align: center;
    padding: 1.5rem 0;
}

.attribution a{
    color: hsl(158, 36%, 37%);
}

@media (width >= 768px) {
   h1{
    font-size: 3rem;
   }

   .info{
    font-size: 14px;
   }
}

@media (width >= 1024px) {
    h1{
     font-size: 5rem;
    }
 
    .info{
     font-size: 16px;
    }
 }
